<%- include('partials/header') %>

<canvas id="canvas" width="1348" height="585"></canvas>

<div class="legend">
    <%- include('../components/floating-menu') %>
</div>
<%- include('partials/footer') %>
