<div class="color-palette" id="colorPalette">
    <div class="color-picker">
        <div class="color p-color" style="background: #000000;" data-color="#000000"></div>
        <div class="color p-color" style="background: #808080;" data-color="#808080"></div>
        <div class="color p-color" style="background: #740000;" data-color="#740000"></div>
        <div class="color p-color" style="background: #ff0000;" data-color="#ff0000"></div>
        <div class="color p-color" style="background: #ff7f00;" data-color="#ff7f00"></div>
        <div class="color p-color" style="background: #ffff00;" data-color="#ffff00"></div>
        <div class="color p-color" style="background: #397e58;" data-color="#397e58"></div>
        <div class="color p-color" style="background: #007fff;" data-color="#007fff"></div>
        <div class="color p-color" style="background: #0000ff;" data-color="#0000ff"></div>
        <div class="color p-color" style="background: #6200ff;" data-color="#6200ff"></div>
        <div class="color p-color" style="background: #ffffff;" data-color="#ffffff"></div>
        <div class="color p-color" style="background: #b3b3b3;" data-color="#b3b3b3"></div>
        <div class="color p-color" style="background: #7c5454;" data-color="#7c5454"></div>
        <div class="color p-color" style="background: #ee9fe7;" data-color="#ee9fe7"></div>
        <div class="color p-color" style="background: #e7b684;" data-color="#e7b684"></div>
        <div class="color p-color" style="background: #d4d4a0;" data-color="#d4d4a0"></div>
        <div class="color p-color" style="background: #82c575;" data-color="#82c575"></div>
        <div class="color p-color" style="background: #5dcff1;" data-color="#5dcff1"></div>
        <div class="color p-color" style="background: #4f4ff5;" data-color="#4f4ff5"></div>
        <div class="color p-color" style="background: #9f77fc;" data-color="#9f77fc"></div>
    </div>
    <input type="color" name="colorSelector" id="colorSelector">
</div>
