<div class="area-controls">
    <div id="shapeButtons">
        <!-- <button id="addLineButton" class="shape-button"><img src="img/icons/line.svg" alt="Línea"></button> -->
        <button id="addOvalButton" class="shape-button"><img src="img/icons/oval.svg" alt="Óvalo" title="Óvalo"></button>
        <button id="addRectButton" class="shape-button"><img src="img/icons/rectangle.svg" alt="Rectángulo" title="Rectángulo"></button>
        <button id="addTriangleButton" class="shape-button"><img src="img/icons/triangle.svg" alt="Triángulo" title="Triángulo"></button>
        <button id="addDiamondButton" class="shape-button"><img src="img/icons/diamond.svg" alt="Diamante" title="Diamante"></button>
        <button id="addPentagonButton" class="shape-button"><img src="img/icons/pentagon.svg" alt="Pentágono" title="Pentágono"></button>
        <button id="addHexagonButton" class="shape-button"><img src="img/icons/hexagon.svg" alt="Hexágono" title="Hexágono"></button>
        <button id="addStarButton" class="shape-button"><img src="img/icons/star.svg" alt="Estrella" title="Estrella"></button>
        <button id="addArrowButton" class="shape-button"><img src="img/icons/arrow.svg" alt="Flecha" title="Flecha"></button>
        <button id="addSpeechBubbleButton" class="shape-button"><img src="img/icons/speech-bubble.svg"
                alt="Bocadillo" title="Bocadillo"></button>
        <button id="addFreeDrawButton" class="shape-button"><img src="img/icons/freeform.svg" alt="Forma libre" title="Forma libre"></button>
    </div>
</div>